extends layout

block content
  #banner.page-header 
    .row
      .col-lg-6
        h1
          | MekanBul
          small &nbsp; Civardaki mekanları keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sa-12
      .col-xs-12.list-group-item
        h4 
          a(href = '/mekan') Sarımsak Kafe
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 1.4km 
        p.address Iyaş Park civarındaa
        p 
          span.label.label-warning Kahve
          | &nbsp;
          span.label.label-warning Masa Oyunları
    | &nbsp
    .col-xs-12.col-sa-12
      .col-xs-12.list-group-item
        h4 
          a(href = '/mekan') Black Playstation
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 1.8km 
        p.address Itfaiye Karşısında
        p 
          span.label.label-warning Bilgisayar Oyunları
          | &nbsp;
          span.label.label-warning Konsol Oyunları 
    | &nbsp
    .col-xs-12.col-sa-12
      .col-xs-12.list-group-item
        h4 
          a(href = '/mekan') Adıyaman Çiğköfte
          small &nbsp;
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 0.9km 
        p.address Hatchicken Yanında
        p 
          span.label.label-warning Nar Eşkili
          | &nbsp;
          span.label.label-warning Acılı
          | &nbsp;
          span.label.label-warning Doritoslu