doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    title= baslik
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    .navbar-default.navbar.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Mekanbul
          button.navbar-toggle(type='button' ,data-toggle='collapse' ,data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse 
          ul.nav.navbar-nav
            li 
              a(href='/hakkinda') Hakkında 
  .container 
    block content
    footer
    |  LIONEL ANDRES MESSI CUCCUTINI WILL WIN THE WORLD CUP 18/12/2022   
    footer
       <img src="https://besthqwallpapers.com/Uploads/1-8-2020/138831/thumb2-lionel-messi-2020-back-view-argentina-national-football-team-4k-football-stars.jpg">
    footer 
      small &copy; Abdullah Mert Ulusoy 2022

    
script(src='/javascripts/jquery-3.6.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/javascripts/denetle.js')